RewriteEngine On
RewriteBase /controle-de-ponto/Public/View/Index/
RewriteRule ^$ / [L]

# Redirecionar quando o acesso for negado
ErrorDocument 403 /controle-de-ponto/public/view/errors/forbidden.php